@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2"),
    url("../fonts/ptsans.woff");
  font-size: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/ptsansbold.woff2"),
    url("../fonts/ptsansbold.woff");
  font-size: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  overflow: hidden;
  clip: rect(0 0 0 0);
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Bold", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-image: url("../img/sedona-index.png");
  background-repeat: no-repeat;
  background-position: center 0;
}

.body-hotels {
  background-image: url("../img/sedona-hotels.png");
  background-repeat: no-repeat;
  background-position: center 0;
}

.total-wrap {
  margin: 0 auto;
  width: 1200px;
}

/*HEADER*/

.header-index,
.header-hotels {
  position: relative;

  margin: 0;
  padding: 0;
  width: 100%;

  background-color: #ffffff;


}

.logo-wrap {
  position: absolute;
  left: 531px;
  z-index: 5;

  width: 138px;
  height: 71px;

}

.nav-index,
.nav-hotels {
  width: 100%;
}

.user-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 17px;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.user-nav li {
  margin: 0;
  margin-left: 73px;
  margin-right: 73px;
  padding: 0;
}

.user-nav li:nth-child(2){
  margin-right: 316px;
}

.user-nav li:nth-child(4){
  margin-left: 92px;
  margin-right: 71px;
}

.user-nav-item {
  color: #000000;
  white-space: nowrap;
}

.user-nav-item:hover,
.user-nav-item:focus {
  color: #81b3d2;
}

.user-nav-item:active {
  color: #000000;
  opacity: 0.3;
}

.current-page,
.current-page:hover,
.current-page:focus,
.current-page:active{
  color: #766357;
  opacity: 1;
}

/*MAIN*/
/*Index*/

.main-index{
  margin: 0;
  padding: 0;
  width: 100%;

  opacity: 0.7;
  /*for markup*/
}

.welcome-wrap{
  width: 1200px;
  height: 509px;

  background-color: #9dc1d9;
  background-image: url("../img/welcome.svg"),
                    url("../img/polygon-mask.svg"),
                    url("../img/background-photo.jpg");
  background-position: center center, center 451px, center -55px;
  background-size: 460px 353px, 1200px 60px, 1200px 773px;
  background-repeat: no-repeat;

}
