@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2"),
    url("../fonts/ptsans.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2"),
    url("../fonts/ptsansbold.woff");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  overflow: hidden;
  clip: rect(0 0 0 0);
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-image: url("../img/sedona-index.png");
  background-repeat: no-repeat;
  background-position: center 0;
}

.body-hotels {
  background-image: url("../img/sedona-hotels.png");
  background-repeat: no-repeat;
  background-position: center 0;
}

.total-wrap {
  margin: 0 auto;
  width: 1200px;

  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

/*HEADER*/

.header-index,
.header-hotels {
  position: relative;

  margin: 0;
  padding: 0;
  width: 100%;

  background-color: #ffffff;


}

.logo-wrap {
  position: absolute;
  left: 531px;
  z-index: 5;

  width: 138px;
  height: 71px;

}

.nav-index,
.nav-hotels {
  width: 100%;
}

.user-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 17px;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.user-nav li {
  margin: 0;
  margin-left: 73px;
  margin-right: 73px;
  padding: 0;
}

.user-nav li:nth-child(2) {
  margin-right: 316px;
}

.user-nav li:nth-child(4) {
  margin-left: 92px;
  margin-right: 71px;
}

.user-nav-item {
  color: #000000;
  white-space: nowrap;
}

.user-nav-item:hover,
.user-nav-item:focus {
  color: #81b3d2;
}

.user-nav-item:active {
  color: #000000;
  opacity: 0.3;
}

.current-page,
.current-page:hover,
.current-page:focus,
.current-page:active {
  color: #766357;
  opacity: 1;
}

/*MAIN*/
/*Index*/

.main-index,
.main-hotels {
  margin: 0;
  padding: 0;
  width: 100%;

  background-color: #ffffff;
  opacity: 0.5;
  /*for markup*/
}

.welcome-wrap {
  width: 1200px;
  height: 509px;

  background-color: #9dc1d9;
  background-image: url("../img/welcome.svg"),
    url("../img/polygon-mask.svg"),
    url("../img/background-photo.jpg");
  background-position: center center,
    center 451px,
    center -55px;
  background-size: 460px 353px,
    1200px 60px,
    1200px 773px;
  background-repeat: no-repeat;

}

/*Features*/

.description {
  width: 100%;
}

.description-intro {
  width: 100%;
  padding-top: 59px;
  margin-bottom: 52px;
}

.description-intro p {
  margin: 0;
  padding: 0;

  text-align: center;
}

.description-intro p:nth-child(1) {
  margin: 0 291px;
  margin-bottom: 31px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  word-spacing: 2.5px;
}

.description-intro p:nth-child(2) {
  letter-spacing: 0.1px;
  color: #333333;
}

/*Features list*/

.features-list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.features-list-item:nth-child(1),
.features-list-item:nth-child(2) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.features-list-item:nth-child(1) .feautre-content,
.features-list-item:nth-child(2) .feautre-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.feautre-content-wrap {
  width: 400px;
  padding-top: 46px;
  padding-bottom: 57px;

  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.feature-pic {
  width: 800px;
  height: 256px;

  background-color: #dacbca;
}

.feature-heading {
  margin: 0;
  margin-bottom: 24px;

  font-size: 21px;
  line-height: 21px;
}

.number {
  display: block;
  margin-bottom: 22px;

  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.feature-decription {
  margin: 0;

  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.features-list-item:nth-child(1) .feature-heading,
.features-list-item:nth-child(2) .feature-heading {
  margin-left: 125px;
  margin-right: 125px;
}

.features-list-item:nth-child(1) .feature-decription,
.features-list-item:nth-child(2) .feature-decription {
  margin: 0 50px;
}

.real-features {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
}

.real-features-item {
  width: 400px;
  padding-top: 162px;
  padding-bottom: 82px;

  text-align: center;
}

.real-features-item h4 {
  position: relative;

  margin: 0;
  margin-bottom: 23px;

  font-size: 21px;
}

.real-features-item h4::before {
  position: absolute;
  content: "";
}

.real-features-item:nth-child(1) h4::before {
  top: -102px;
  left: 161px;

  width: 75px;
  height: 72px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.real-features-item:nth-child(2) h4::before {
  top: -102px;
  left: 162px;

  width: 75px;
  height: 72px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.real-features-item:nth-child(3) h4::before {
  top: -106px;
  left: 167px;

  width: 75px;
  height: 76px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.real-features-item p {
  margin: 0 50px;

  font-weight: 400;
}

.features-list-item:nth-child(2) .feautre-content {
  flex-direction: row-reverse;
}

.features-list-item:nth-child(2) .feature-decription {
  margin: 0 40px;
}

.features-list-item:nth-child(2) .feature-pic {
  width: 800px;
  height: 256px;

  background-color: #e37f56;
}

.features-list-item:nth-child(3),
.features-list-item:nth-child(4),
.features-list-item:nth-child(5) {
  width: 400px;

  text-align: center;

  background-color: #eeeeee;
}

.features-list-item:nth-child(3) .feautre-content,
.features-list-item:nth-child(4) .feautre-content,
.features-list-item:nth-child(5) .feautre-content {
  padding-top: 48px;
  padding-bottom: 59px;
}

.features-list-item:nth-child(3) .feature-heading,
.features-list-item:nth-child(4) .feature-heading,
.features-list-item:nth-child(5) .feature-heading {
  margin: 0 130px;
  margin-bottom: 22px;
}

.features-list-item:nth-child(3) .feature-decription {
  margin: 0 60px;
}

.features-list-item:nth-child(4) .feature-decription {
  margin: 0 65px;
}

.features-list-item:nth-child(5) .feature-decription {
  margin: 0 71px;
}

/*locations*/

.locations {
  width: 100%;
  padding-top: 50px;

  text-align: center;
}

.ask {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-size: 30px;
  line-height: 36px;
}

.locations p {
  margin: 0 380px;
  margin-bottom: 47px;

  line-height: 23px;
  font-weight: 400;
}

.oneline{
  display: block;

  white-space: nowrap;
}

.hotel-search-wrap{
  height: 86px;
  margin: 0 315px;

}

.hotel-search{
  display: block;
  padding: 30px 140px;



  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  background-color: #766357;
}

.hotel-search:hover,
.hotel-search:focus{
  background-color: #604e43;
}

.hotel-search:active{
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.map{
  width: 100%;
  height: 473px;

  background-image: url("../img/map.png");
  background-repeat: no-repeat;
}

.map iframe{
  width: 100%;
  height: 473px;
}

/*Footer*/

.footer-index,
.footer-hotels{
  width: 100%;
  padding: 30px 73px;
  padding-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hashtag-wrap,
.socials,
.wrap-academy-logo{
  width: 240px;
}

.hashtag-wrap{
  padding-top: 5px;
  padding-left: 60px;
}

.hashtag{
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.socials{
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-left: 40px;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.socials li{
  margin: 0 3px;
  padding: 0;
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
}

.socials-item{
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;

  background-color: #81b3d2;
}

.socials-item:focus,
.socials-item:hover{
  background-color: #669ec0;
}

.socials-item:active img{
  opacity: 0.3;
}

.wrap-academy-logo{
  padding-top: 5px;
  padding-left: 15px;
}

.academy-logo{
  display: flex;
  align-items: center;

  color: #000000;
  font-weight: 400;
}

.academy-logo span{
  margin-right: 10px;
}

.academy-logo svg{
  fill: #000000;
}

.academy-logo:hover svg,
.academy-logo:focus svg{
  fill: #81b3d2;
}

.academy-logo:active svg{
  fill: #bdbbbc;
}
/*END*/
